DSTools/.vs/
DSTools/Duesoft.DB/obj/
DSTools/Duesoft.DSCOP/obj/
DSTools/Duesoft.DSVSN/obj/
DSTools/Duesoft.Handlers/obj/
DSTools/obj/
DSTools/packages/
DSToolsManager/obj/
DSInstaller/Debug/
DSTools/bin/
DSTools/Duesoft.DB/bin/
DSTools/Duesoft.DSCOP/bin/
DSTools/Duesoft.Handlers/bin/
DSToolsManager/bin/
.vs/
01_Recursos/Duesoft.DB/bin/
01_Recursos/Duesoft.DB/obj/
01_Recursos/Duesoft.EntityModels/obj/
01_Recursos/Duesoft.Handlers/bin/
01_Recursos/Duesoft.Handlers/obj/
02_Sistemas/Duesoft.DSCOP/bin/
02_Sistemas/Duesoft.DSCOP/obj/
02_Sistemas/Duesoft.DSTLS/bin/
02_Sistemas/Duesoft.DSTLS/obj/
03_Servico/bin/
03_Servico/obj/
04_Gerenciador/bin/
04_Gerenciador/obj/
01_Recursos/Duesoft.EntityModels/bin/
05_Instalador/Debug/
05_Instalador/Release/
*.dll
packages/
02_Sistemas/Duesoft.DSVSN/bin/
02_Sistemas/Duesoft.DSVSN/obj/
Installer/Debug/
05_Instalador/Installer/Debug/
05_Instalador/Installer/Release/
*.pdb
*.cache
*.exe
DSVersionManager/obj/
DSVersionManager/bin/
Duesoft.DSNFE/bin/
Duesoft.DSNFE/obj/Debug/
Duesoft.DSNFE/obj/Release/

02_Sistemas/Duesoft\.DSDASH/bin/Debug/netstandard2\.0/

02_Sistemas/Duesoft\.DSDASH/obj/Debug/netstandard2\.0/

02_Sistemas/Duesoft\.DSDASH/obj/

Integracao/ListaMais/ListaMais/bin/Debug/netstandard2\.0/

Integracao/ListaMais/ListaMais/obj/

Integracao/iSoft/iSoftElectra/bin/Debug/netstandard2\.0/

Integracao/iSoft/iSoftElectra/obj/Debug/netstandard2\.0/

Integracao/iSoft/iSoftElectra/obj/

Integracao/SmsJaimeCarburadores/obj/Debug/netstandard2.0/

TrayApi/obj/

TrayApi/bin/Debug/netstandard2.0/

Integracao/SmsJaimeCarburadores/bin/Debug/netstandard2.0/

Integracao/SmsJaimeCarburadores/obj/

Integracao/Espelhamento/Espelhamento/obj/

Integracao/Espelhamento/Espelhamento/bin/Debug/netstandard2.0/

01_Recursos/Duesoft.ToastNotifications/bin/Debug/Sounds/

01_Recursos/Duesoft.ToastNotifications/obj/x86/Debug/

*.settings

01_Recursos/Duesoft.ToastNotifications/Sounds/

02_Sistemas/Notificacao/bin/Debug/netstandard2.0/

02_Sistemas/Notificacao/obj/Debug/netstandard2.0/

02_Sistemas/Notificacao/obj/

Duesoft.Entities/bin/Debug/netstandard2.0/

Duesoft.Entities/obj/Debug/netstandard2.0/

Duesoft.Entities/obj/

Integracao/TrayApi/TrayApi/bin/Debug/netstandard2.0/

Integracao/TrayApi/TrayApi/obj/Debug/netstandard2.0/

Integracao/TrayApi/TrayApi/obj/
Integracao/BoaVistaServicos/BoaVistaServicos/bin/
Integracao/BoaVistaServicos/BoaVistaServicos/obj/
Integracao/DDServ/bin/
Integracao/DDServ/obj/
Integracao/DDServFinanceiro/bin/
Integracao/DDServFinanceiro/obj/
Integracao/Litoarte/Litoarte/bin/
Integracao/Litoarte/Litoarte/obj/
Integracao/LitoarteDestribuidores/LitoarteDistribuidores/bin/
Integracao/LitoarteDestribuidores/LitoarteDistribuidores/obj/
Integracao/Ideris/bin/
Integracao/Ideris/obj/
Integracao/CatalogoDS/CatalogoDS/bin/Debug/netstandard2.0/CatalogoDS.deps.json
Integracao/CatalogoDS/CatalogoDS/obj/CatalogoDS.csproj.nuget.dgspec.json
Integracao/CatalogoDS/CatalogoDS/obj/
Integracao/iSoft/iSoft/bin/
Integracao/iSoft/iSoft/obj/
Integracao/Trinys/Trinys/bin/
Integracao/Trinys/Trinys/obj/
Integracao/Bling/bin/
Integracao/Bling/obj/
Integracao/CatalogoDS/CatalogoDS/bin/
Integracao/Espelhamento/Espelhamento/bin/
Integracao/ListaMaisCanguru/ListaMaisCanguru/bin/
Integracao/ListaMaisCanguru/ListaMaisCanguru/obj/
Integracao/ListaMaisDS/bin/
Integracao/ListaMaisDS/obj/
Integracao/SmsJaimeCarburadores/bin/
Integracao/TrayApi/TrayApi/bin/
02_Sistemas/Duesoft.DSDASH/bin/
Integracao/DsImagens/obj/
Integracao/DsImagens/bin/
01_Recursos/Duesoft.ToastNotifications/obj/
Integracao/SpiderApi/obj/
Integracao/VisualApi/bin/
Integracao/VisualApi/obj/
Integracao/SpiderApi/bin/
Integracao/NuvemShop/bin/
Integracao/NuvemShop/obj/
01_Recursos/Duesoft.IntegracaoImagens/obj/
Integracao/Analytics/bin/
Integracao/Analytics/obj/
Integracao/Analytics/Analytics/bin/
Integracao/Analytics/Analytics/obj/
03_Servico/WorkerService/bin/
03_Servico/WorkerService/obj/
03_Servico/WorkerService/Properties/PublishProfiles/

*.user

04_Gerenciador/Properties/PublishProfiles/

*.user

Integracao/DDTec/obj/
Integracao/DDTec/bin/
01_Recursos/DSAesCryptography/DSAesCryptography/bin/
01_Recursos/DSEntityFrameworkCore/DSEntityFrameworkCore/bin/
01_Recursos/DSEntityFrameworkCore/DSEntityFrameworkCore/obj/
01_Recursos/DSRemoteConfigurations/DSRemoteConfigurations/obj/
01_Recursos/DSAesCryptography/DSAesCryptography/obj/
01_Recursos/DSRemoteConfigurations/DSRemoteConfigurations/bin/
Integracao/Pride/obj/
Integracao/Pride/bin/
Integracao/PrideService/bin/
Integracao/PrideService/obj/

Integracao/Pride/bin/Debug/net6.0/

Integracao/Pride/bin/Release/net6.0/

Integracao/IntegracoesAmeppre/bin/
Integracao/IntegracoesAmeppre/obj/
Integracao/MHRSolucoes/bin/
Integracao/MHRSolucoes/obj/

Contexts/Audits/Duesoft.Audits.Domain/bin/
Contexts/Audits/Duesoft.Audits.Domain/obj/
Contexts/Audits/Duesoft.Audits.Infra/bin/
Contexts/Audits/Duesoft.Audits.Infra/obj/
Contexts/Companies/Duesoft.Companies.Domain/bin/
Contexts/Companies/Duesoft.Companies.Domain/obj/
Contexts/Companies/Duesoft.Companies.Infra/bin/
Contexts/Companies/Duesoft.Companies.Infra/obj/
Core/Duesoft.Services.Essentials/bin/
Core/Duesoft.Services.Essentials/obj/
Contexts/Products/Duesoft.Products.Domain/bin
Contexts/Products/Duesoft.Products.Domain/obj/
Contexts/Products/Duesoft.Products.Infra/bin/
Contexts/Products/Duesoft.Products.Infra/obj/
Contexts/Tray/Duesoft.Tray.Domain/bin/
Contexts/Tray/Duesoft.Tray.Domain/obj/
Contexts/Tray/Duesoft.Tray.Infra/bin/
Contexts/Tray/Duesoft.Tray.Infra/obj/
/Integracao/DDServFinanceiro/bin/Debug/net6.0/DDServFinanceiro.deps.json
/Integracao/PipeDrive/bin/Release/net6.0/System.Windows.Forms.xml
/Integracao/PipeDrive/bin/Release/net6.0/System.Runtime.Serialization.Formatters.Soap.xml
/Integracao/PipeDrive/bin/Release/net6.0/System.Deployment.xml
/Integracao/PipeDrive/bin/Release/net6.0/PipeDrive.deps.json
/Integracao/PipeDrive/bin/Release/net6.0/Accessibility.xml
/Integracao/PipeDrive/obj/Release/net6.0/PipeDrive.GlobalUsings.g.cs
/Integracao/PipeDrive/obj/Release/net6.0/PipeDrive.GeneratedMSBuildEditorConfig.editorconfig
/Integracao/PipeDrive/obj/Release/net6.0/PipeDrive.csproj.FileListAbsolute.txt
/Integracao/PipeDrive/obj/Release/net6.0/PipeDrive.csproj.CopyComplete
/Integracao/PipeDrive/obj/Release/net6.0/PipeDrive.AssemblyInfo.cs
/Integracao/PipeDrive/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/AreaVendedor/bin/Debug/net6.0/System.Windows.Forms.xml
/AreaVendedor/bin/Debug/net6.0/System.Runtime.Serialization.Formatters.Soap.xml
/AreaVendedor/bin/Debug/net6.0/System.Deployment.xml
/AreaVendedor/bin/Debug/net6.0/Accessibility.xml

## DAQUI PRA BAIXO É TUDO PEGO DO GITHUB
 
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio 6 auto-generated project file (contains which files were open etc.)
*.vbp

# Visual Studio 6 workspace and project file (working project files containing files to include in project)
*.dsw
*.dsp

# Visual Studio 6 technical files
*.ncb
*.aps

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# # JetBrains Rider
# *.sln.iml
# Footer
# © 2023 GitHub, Inc.
# Footer navigation
# Terms
# Privacy
# Security
# Status
# Docs
# Contact GitHub
# Pricing
# API
# Training
# Blog
# About
/Integracao/PipeDrive/obj/Debug/net6.0/PipeDrive.GeneratedMSBuildEditorConfig.editorconfig
/Integracao/PipeDrive/obj/Debug/net6.0/PipeDrive.csproj.FileListAbsolute.txt
/Integracao/PipeDrive/obj/PipeDrive.csproj.nuget.dgspec.json
/Integracao/PipeDrive/obj/PipeDrive.csproj.nuget.g.props
/Integracao/PipeDrive/obj/project.assets.json
/Integracao/PipeDrive/obj/Debug/net6.0/PipeDrive.GeneratedMSBuildEditorConfig.editorconfig
/Integracao/DDServFinanceiro/obj/Release/net6.0/DDServFinanceiro.AssemblyInfo.cs
